.navbar-brand {
    font-family: "Viga", Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.navbar {
    color: #fff !important;
    background-color: rgb(143, 143, 143);
}

.btn-navbar a {
    width: 100%;
}

/* detail */
.btn-detail {
    background-color: rgb(143, 143, 143);
    color: white;
    margin: 0 5px 20px 5px;
}